    <div class="apple-menu" id="apple-menu" style="display:none;">
      <ul class="apple-menu-list">
        <li class="apple-menu-item"><strong>About This Mac</strong></li>
        <li class="apple-menu-separator"></li>
        <li class="apple-menu-item">System Settings...</li>
        <li class="apple-menu-item">App Store...</li>
        <li class="apple-menu-separator"></li>
        <li class="apple-menu-item">Recent Items</li>
        <li class="apple-menu-separator"></li>
        <li class="apple-menu-item">Force Quit...</li>
        <li class="apple-menu-separator"></li>
        <li class="apple-menu-item">Sleep</li>
        <li class="apple-menu-item">Restart...</li>
        <li class="apple-menu-item">Shut Down...</li>
        <li class="apple-menu-separator"></li>
        <li class="apple-menu-item" id="apple-menu-lock">Lock Screen</li>
        <li class="apple-menu-item">Log Out Lorenzo...</li>
      </ul>
    </div>
