    <div class="context-menu" id="context-menu" style="display:none;">
      <ul class="context-menu-list">
        <li class="context-menu-item">New Folder</li>
        <li class="context-menu-item">Get Info</li>
        <li class="context-menu-item">Change Desktop Background...</li>
        <li class="context-menu-separator"></li>
        <li class="context-menu-item">Use Stacks</li>
        <li class="context-menu-item context-menu-submenu">Sort By
          <span class="context-menu-arrow">&#9654;</span>
        </li>
        <li class="context-menu-item">Clean Up</li>
        <li class="context-menu-separator"></li>
        <li class="context-menu-item">Import from iPhone or iPad</li>
      </ul>
    </div>
